<div class="hero-unit">
    <div class="media">
      <a class="pull-left" href="#">
        <img src="images/owain_llewellyn.jpg" alt="..." />
      </a>
      <div class="media-body">
         <h1>Owzzz.com</h1>
        <p>A Front-End Web Developer, working @ AKQA (London/San Fran) with a passion for Interactive Web Technologies, Great Design &amp; Clever Entrepreneurial Ideas.</p>
        <p>
            <a href="https://twitter.com/owzzz">Twitter</a> | 
            <a href="https://github.com/owzzz">GitHub</a> | 
            <a href="http://instagram.com/owzzz">Instagram</a> | 
            <a href="http://www.pinterest.com/owzzzz/">Pinterest</a>
        </p>
      </div>
    </div>
</div>
